@()(implicit request: RequestHeader, flash: Flash)


@main("BBS") {
    <div class="header" id="login-header">
        <h2>BBS</h2>
        <p>A Simple Blog by Septeni Technology</p>
    </div>

    <div id="blog-header" hidden>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
              <a class="navbar-brand" onclick="loadBlog()">BBS</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" onclick="loadBlog()">Home</a>
                    </li>
                  <li class="nav-item">
                    <a class="nav-link" onclick="switchToAdd()">Add Post</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" onclick="logout()">Logout</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </div>

    <input type="hidden" id="csrfToken" value="@helper.CSRF.getToken.value">
    <input type="hidden" id="validateRoute" value="@routes.BlogController.validate()">
    <input type="hidden" id="getRoute" value="@routes.BlogController.getBlog()">
    <input type="hidden" id="addRoute" value="@routes.BlogController.addPost()">
    <input type="hidden" id="createRoute" value="@routes.BlogController.createUser()">
    <input type="hidden" id="logoutRoute" value="@routes.BlogController.logout()">
    <link rel="stylesheet" type="text/css" href='/assets/stylesheets/main.css' />
    

    <div id="login-section" class="container-fluid">
        <div class="row">
            <div class="col-6">
                <h2>Login:</h2>
                
                    <div class="form-group">
                        <label for="loginName">Email address</label>
                        <input type="email" id="loginName" class="form-control" aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted">Please enter a valid email address</small>
                    </div>

                    <div class="form-group">
                        <label for="loginPass">Password</label>
                        <input type="password" id="loginPass" class="form-control">
                    </div>

                    <button type="submit" id="loginSubmit" onclick="login()" class="btn btn-primary">Login</button>
                    <div id="login-fail"></div>
                    
            </div>
        
            <div class="col-6">
                <h2>Create User:</h2>
                <div class="form-group">
                    <label for="newName">Email address</label>
                    <input type="email" id="newName" class="form-control" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">Please enter a valid email address</small>
                </div>

                <div class="form-group">
                    <label for="newPass">Password</label>
                    <input type="password" id="newPass" class="form-control">
                </div>

                <button type="submit" id="createSubmit" onclick="createUser()" class="btn btn-primary">Create User</button>
                <div id="signup-fail"></div>

                
            </div>
        </div>
    </div>

    <div id="blog-section" hidden>
        <div class="container" id="posts">
            <ul id="blogPosts"></ul>
        </div>

        
    </div>

    <div id="add-section" hidden>
        <div class="container">
            <div class="card">
                <h4 class="card-header">Create Post</h4>
                <div class="card-body">
                    <input type="text" class="form-control" id="post-title" maxlength="128" placeholder="Title. max: 128 characters" size="46">
                    <textarea cols="50" rows="10" id="newPost" class="form-control" placeholder="Post Content"></textarea>
                    <button class="btn btn-primary"  onclick="addPost()">Post!</button><span id="post-message"></span>
                </div>
            </div>    
        </div>
    </div>
    <script src="@routes.Assets.versioned("javascripts/main.js")"></script>
}